<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ECS Deployment WorkShop</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {margin-top: 40px; background-color: #4169e1;}
            h3 { color: yellow; padding: 25px }
            h4 { color: red; padding: 35px; font-weight: bold; font-size: 3em }
        </style>
        <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>

    <body>
        <div class="container">
            <div class="hero-unit">
                <h1>CI/CD DEPLOYMENT ON ECS</h1>
                <br />
                <h2>Congratulations!</h2>
                <p>You have just completed the workshop with code pipeline.</p>
                <p>Your Flask application is now running on a container in {{ platform }}.</p>
                <p>You could continue to implement Blue-Green Deployment using CodeDeploy DeploymentGroup if its not already done.</p>
            </div>
        </div>
    </body>
